<h2 mat-dialog-title>{{ data.title || 'Confirmar' }}</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="dialog-form">
    @for (field of fields; track field.name) {
      <mat-form-field class="full-width" [class.field-half]="field.layout === 'half'">
        <mat-label>{{ field.label }}</mat-label>

        @if (field.type === 'date') {
          <ng-container>
            <input matInput [matDatepicker]="datepicker" [formControlName]="field.name">
            <mat-datepicker-toggle [for]="datepicker" matSuffix />
            <mat-datepicker #datepicker />
          </ng-container>
        } @else if (field.type === 'time') {
          <ng-container>
            <input matInput [matTimepicker]="timepicker" [formControlName]="field.name">
            <mat-timepicker-toggle [for]="timepicker" matSuffix />
            <mat-timepicker #timepicker />
          </ng-container>
        } @else if (field.type === 'textarea') {
          <textarea matInput rows="5" [formControlName]="field.name"></textarea>
        } @else {
          <input
            matInput
            [type]="inputType(field)"
            [formControlName]="field.name"
            (blur)="onCepInformado(field.name)"
            (keyup.enter)="onCepInformado(field.name)">
        }
      </mat-form-field>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="onCancel()">Cancelar</button>
  <button mat-flat-button type="button" (click)="onSave()">Salvar</button>
</mat-dialog-actions>
