.app-top-menu-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.app-top-menu-toolbar .logo {
    display: flex;
    align-items: center;
}

.app-top-menu-toolbar .logo-img {
    height: 60px;
    width: auto;
    max-width: 100%;
    display: block;
}

.app-top-menu-toolbar a{
    text-decoration: none;
    margin: 0 8px;
}

.app-top-menu-toolbar .espacer {
    flex: 1 1 auto;
}

.app-top-menu-toolbar button {
    border-radius: 0;
    height: 100%;
}

.avatar-usuario{
     background-color: rgb(20, 33, 226);
     color: white;
     font-weight: 600;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
}