<div class="example-container">
  <mat-form-field class="full-width">
    <mat-label>Digite sua Senha</mat-label>
    <input [formControl]="control" matInput [type]="hide() ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
    >
      <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    @if (control.hasError('required')) {
      <mat-error>A senha é obrigatória</mat-error>
    }
  </mat-form-field>
</div>
